footer {
  display: flex;
  gap: 24px;
  padding-block: 24px;

  font: 14px/150% var(--font-family);
}

/* filho de numero 1 // contagem dos filho que tem numa caixa */
footer span:nth-child(1) {
  margin-right: auto;
}